@inherits LayoutComponentBase
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <button @onclick="SignOutAsync">SignOut</button>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>
@Body